#app-header {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 5px;
    text-shadow: 0 1px 0 #fff;
}
#app-header .subtitle {
    font-size: 14px;
    color: #369;
}

.checkbox-labels{
    margin-left: 10px;
}

.x-fieldset-header-text{
    margin: 0 3px;
}

.dirtyfield {
    background-color: #ff0;
}


/*   icons      */
.icon-user {
    background-image: url(../static/icons/user.png) !important;
}

.icon-user-add {
    background-image: url(../static/icons/user_add.gif) !important;
}

.icon-save {
    background-image: url(../static/icons/save.gif) !important;
}

.icon-reset {
    background-image: url(../static/icons/stop.png) !important;
}

.icon-grid {
    background-image: url(../static/icons/grid.png) !important;
}

.icon-add {
    background-image: url(../static/icons/add.png) !important;
}

.icon-delete {
    background-image: url(../static/icons/delete.png) !important;
}